footer.footer
    .container
        nav.navbar
            a.navbar-brand(href="#") Производитель рекламных вывесок
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href="#") Услуги
                li.nav-item
                    a.nav-link(href="#") О компании
                li.nav-item
                    a.nav-link(href="#") Наши работы
                li.nav-item
                    a.nav-link(href="#") Контакты
            .my-2.my-lg-0
                a.phone(href="tel:+7 495 233-08-27") +7 495 233-08-27
                p.phone-offer с 9.00 до 20.00 каждый день