.form-content{
    .heading{
        & + .offer_column{
            margin-top: 20px;
        }
        & + .offer_row{
            margin-top: 15px;
            margin-bottom: 30px;
            width: 250px;
            max-width: 100%;
        }
    }
    &_border{
        padding: 20px;
        padding-bottom: 35px;
        border: 14px solid $lightblue;
    }
    &_size{
        width: 850px;
        max-width: 100%;
    }
    .form_column{
        margin-top: 30px;
        .form__input{
            width: 100%;
        }
        .btn{
            width: 100%;
            position: absolute;
            bottom: -70px;
        }
    }
    .form_row{
        .form__input{
            width: 100%;
        }
        .btn{
            width: 100%;
        }
    }
}
.form{
    position: relative;
    margin-bottom: 0;
    &__label{
        font-size: 14px;
        color: $lightgrey;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__input{
        border:1px solid $blue;
        padding: 15px 20px;
        line-height: 18px;
        &::placeholder{
            color: $lightgrey;
        }
        &:focus{
            &::placeholder{
                opacity: 0;
            }
        }

        & + .btn{
            margin-top: 30px;
        }
    }
    &__fileinput{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + .form__filelabel{
            @extend .btn;
            @extend .btn_primary;

            cursor: pointer;

            * {
                pointer-events: none;
            }
        }
    }
    
}