.service{
    background-color: #f0f1f3;
    padding: 200px 40px 50px 40px;

    background-image: url(../images/pilon.png);
    background-position: left 0px;
    background-size: 250px;
    background-repeat: no-repeat;

    margin-bottom: 30px;
    &.last{
        margin-bottom: 0px;
    }

    &_lightbox{
        background-image: url(../images/lightbox.png);
    }
    &_letter{
        background-image: url(../images/letter.png);
        background-position-x: -40px;
    }
    &_neon{
        background-image: url(../images/neon.png);
        background-position-x: -20px;
    }
    &_pilon{
        background-image: url(../images/pilon.png);
        background-position-x: -40px;
    }
    &_roof{
        background-image: url(../images/roof.png);
    }
    &_canopy{
        background-image: url(../images/canopy.png);
    }
    &_stend{
        background-image: url(../images/stend.png);
    }
    &_panel{
        background-image: url(../images/light-panel.png);
    }
    &_promo{
        background-image: url(../images/promo.png);
    }
    &_led{
        background-image: url(../images/led-lenta.png);
        background-position-x: -20px;
    }
    &_price{
        margin: 30px 0 0;
        position: relative;
        background-image: none;

        border-bottom: 10px solid #62adec;

        height: auto;
        padding: 30px 15px;
        
        .service__img{
            display: none;

            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 270px;

            background-position: center;
            background-size: cover;
        }
        .service__title{
            font-size: 18px;
        }
    }

    &__title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 20px;
        span.text-light{
            white-space: nowrap;
        }
    }
    &__offer{
        font-size: 14px;
        line-height: 20px;
        color: $grey;
    }
}

a.service{
    text-decoration: none;
    transition: .3s;
    .service__title{
        transition: .3s;
    }
    &:hover{
        text-decoration: none;
        .service__title{
            color: $lightblue;
        }
    }
}
