@media (min-width: 576px){
    .service{
        padding: 220px 20px 50px;
        height: 540px;

        &_price{
            height: auto;
            padding: 15px 30px;
        }
    }
    .content{
        .heading{
            font-size: 32px;
            line-height: 42px;
            &_md{
                font-size: 32px;
                line-height: 42px;
            }
            &_xl{
                font-size: 50px;
                line-height: 56px;
            }
        }
    }
    .index{
        .content_heading{
            padding-top: 200px;
            .heading{
                &_xl {
                    font-size: 32px;
                    line-height: 42px;
                }
            }
        }
    }
}
@media (min-width: 768px){
    .header{
        .navbar-brand{
            padding-top: 70px;
            padding-left: 100px;
        }
    }
    .service{
        padding: 50px 40px 50px 300px;
        background-position: 20px center;

        height: auto;

        &__title{
            font-size: 24px;
        }

        &_price{
            padding: 30px;
            // .service__img{
            //     display: block;
            // }
        }
    }
    .form-content{
        &_border{
            padding: 35px;
        }
        &_btn-out{
            padding-bottom: 50px;
        }
        .heading{
            & + .offer_column{
                margin-top: 30px;
            }
        }
        .form_column{
            .btn{
                bottom: -85px;
            }
        }
    }
    .btn{
        font-size: 16px;
    }
    .index{
        .content_heading{
            .heading{
                &_xl {
                    font-size: 42px;
                    line-height: 56px;
                }
                .line + .line{
                    margin-top: 10px;
                }
            }
        }
    }

    .step{
        &__item + .step__item_2{
            border-top: 1px solid $white;
            border-left: none;
        }
        &__item + .step__item_4{
            border-left: none;
        }
    }
}
@media (min-width: 992px){
    .header{
        .navbar-brand{
            padding-top: 50px;
            padding-left: 0px;
        }
        .nav-item{
            margin-top: 0px;
        }
        &__contact{
            display: block;
        }
    }
    .content{
        padding: 100px 0;
        &_small{
            padding: 50px 0;
        }
        .margin-bottom{
            margin-bottom: 70px;
        }
        .heading{
            font-size: 52px;
            line-height: 58px;
            &_md{
                font-size: 42px;
                line-height: 48px;
            }
            &_xl{
                font-size: 60px;
                line-height: 66px;
            }
        }
    }
    .bg-dark{
        .service{
            height: 300px;
        }
    }
    .service {
        height: 240px;
        background-position: -10px center;
        background-size: 160px;
        padding: 30px 40px 30px 150px;
        &_promo{
            background-position: -5px center;
        }

        &_price{
            height: auto;
            padding: 30px;
        }
    }
    .contact{
        .form-content {
            margin-bottom: 0px;
        }
    }
    .form-content{
        margin-bottom: 0;
    }
    .footer{
        .navbar-nav {
            margin: 0 auto;
            .nav-link {
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }
    }
    .step{
        &__item + .step__item{
            border-top: 1px solid $white;
            border-left: none;
        }
    }
}
@media (min-width: 1400px){
    .header{
        .navbar-brand{
            padding-top: 70px;
            padding-left: 100px;
        }
    }
    .bg-dark{
        .service{
            height: 280px;
        }
    }
    .content{
        .heading{
            font-size: 52px;
            line-height: 58px;
            &_md{
                font-size: 42px;
                line-height: 48px;
            }
            &_xl{
                font-size: 56px;
                line-height: 62px;
            }
        }
        .margin-bottom-xl-none{
            margin-bottom: 0;
        }
    }
    .form{
        .btn{
            margin-top:0;
        }
    }
    .form-content{
        .heading{
            & + .offer_row{
                margin-bottom: 0px;
            }
        }
    }
    .service {
        background-position: 0 0;
        background-size: 300px;
        padding: 50px 40px 50px 300px;

        &.slick-slide{
            padding: 30px 40px 30px 300px;
            background-position: 0 0;
        }

        &_panel{
            background-position: -10px -10px;
        }
        &_lightbox{
            background-position: 0 20px;
        }
        &_letter{
            background-position: 0 20px;
        }
        &_neon{
            background-position: 0 10px;
        }
        &_pilon{
            background-position: -20px 5px;
            background-size: 320px;
        }
        &_price{
            height: auto;
            padding: 30px;
            .service__img{
                width: 270px;
            }
        }
    
    }

    .index{
        .content_heading{
            padding-top: 350px;
            .heading{
                line-height: 72px;
                &__line{  
                    & + .heading__line{
                        margin-top: 20px;
                    }
                }
            }
            &:after{
                width: calc( 1365px + (100% - 1380px)/2 );
            }
        }
    }
}