@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&Exo+2:100,300,400,500,700&subset=cyrillic');

@import "variable.scss";

@import "node_modules/bootstrap/scss/vendor/_rfs.scss";
@import "node_modules/bootstrap/scss/mixins/_hover.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "node_modules/bootstrap/scss/utilities/_flex.scss";

@import "node_modules/bootstrap/scss/mixins/_grid-framework.scss";
@import "node_modules/bootstrap/scss/mixins/_grid.scss";
@import "node_modules/bootstrap/scss/mixins/_border-radius.scss";
@import "node_modules/bootstrap/scss/mixins/_transition.scss";
@import "node_modules/bootstrap/scss/_grid.scss";
@import "node_modules/bootstrap/scss/_transitions.scss";
@import "node_modules/bootstrap/scss/_navbar.scss";

@import "header.scss";
@import "footer.scss";
@import "reboot.scss";

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;
    &:hover, &:focus{
        outline: none;
    }
}
.p-relative{position: relative;}
.d-inline-block{display: inline-block;}

.text-white{color: $white;}
.text-black{color: $black;}
.text-lightblue{color: $lightblue;}

.text-uppercase{text-transform: uppercase;}

.text-bold{font-weight: 700;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.m-auto{margin: 0 auto;}

body{
    background: $white;
}
.bg-dark{
    color: $white;
    background: $bg-dark;
    .service{
        background-color: rgb(3, 18, 30);
        box-shadow: 0px 0px 40px 0px rgba(145, 240, 246, 0.1);
        &__title{
            color: $white;
        }
        &__offer{
            color: $lightgrey;
        }
    }
}
.content{
    padding: 50px 0;
    .margin-top{
        margin-top: 35px;
    }
    .margin-bottom{
        margin-bottom: 35px;
    }
    .heading{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        &_md{
            font-size: 24px;
            line-height: 32px;
        }
        &_xl{
            font-size: 30px;
            line-height: 36px;
        }
    }
    .offer{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        &.small{
            font-size: 14px;
            line-height: 22px;
        }
    }
    .address{
        font-size: 14px;
        .address__title{
            margin-bottom: 5px;
        }
        .address__place{
            margin-top: 25px;
        }
        .address__phone{
            font-size: 24px;
            font-weight: bold;
    
            & + .address__title{
                margin-top: 25px;
            }
        }
        .address__mail{
            font-weight: 700;
        }
    }
}
.service{
    background-color: #f0f1f3;
    padding: 200px 40px 50px 40px;

    background-image: url(../images/pilon.png);
    background-position: left 0px;
    background-size: 250px;
    background-repeat: no-repeat;

    margin-bottom: 30px;
    &.last{
        margin-bottom: 0px;
    }

    &_lightbox{
        background-image: url(../images/lightbox.png);
    }
    &_letter{
        background-image: url(../images/letter.png);
        background-position-x: -40px;
    }
    &_neon{
        background-image: url(../images/neon.png);
        background-position-x: -20px;
    }
    &_pilon{
        background-image: url(../images/pilon.png);
        background-position-x: -40px;
    }
    &_roof{
        background-image: url(../images/roof.png);
    }
    &_canopy{
        background-image: url(../images/canopy.png);
    }
    &_stend{
        background-image: url(../images/stend.png);
    }
    &_panel{
        background-image: url(../images/light-panel.png);
    }
    &_promo{
        background-image: url(../images/promo.png);
    }
    &_led{
        background-image: url(../images/led-lenta.png);
        background-position-x: -20px;
    }

    &__title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 20px;
        &:hover{
            color: $lightblue;
            text-decoration: none;
        }
    }
    &__offer{
        font-size: 14px;
        line-height: 20px;
        color: $grey;
    }
}
.contact{
    &.content{
        padding-top: 0;
    }
    .form-content{
        margin-bottom: 50px;
    }
}
.list{
    &__item{
        margin-bottom: 35px;
    }
    &__title{
        position: relative;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: $lightblue;
        margin-bottom: 20px;
        padding-left: 30px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            background: $lightblue;
            width: 16px;
            height: 16px;
        }
    }
    &__offer{
        font-size: 16px;
        color: rgb(0, 9, 16);
        line-height: 1.375;
    }
}
.form-content{
    .heading{
        & + .offer_column{
            margin-top: 20px;
        }
        & + .offer_row{
            margin-top: 15px;
            margin-bottom: 30px;
            width: 250px;
            max-width: 100%;
        }
    }
    &_border{
        padding: 20px;
        padding-bottom: 35px;
        border: 14px solid $lightblue;
    }
    &_size{
        width: 850px;
        max-width: 100%;
    }
    .form_column{
        margin-top: 30px;
        .form__input{
            width: 100%;
        }
        .btn{
            width: 100%;
            position: absolute;
            bottom: -70px;
        }
    }
    .form_row{
        .form__input{
            width: 100%;
        }
        .btn{
            width: 100%;
        }
    }
}
.form{
    position: relative;
    margin-bottom: 0;
    &__label{
        font-size: 14px;
        color: $lightgrey;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__input{
        border:1px solid $blue;
        padding: 15px 20px;
        &::placeholder{
            color: $lightgrey;
        }
        &:focus{
            &::placeholder{
                opacity: 0;
            }
        }

        & + .btn{
            margin-top: 30px;
        }
    }
}
.btn{
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: .5px;

    font-size: 14px;
    font-weight: 700;

    background: inherit;
    border: none;

    transition: $transition-base;

    &_border{
        border: 3px solid $lightblue;
        color: $lightblue;
        background: $white;

        &:hover{
            background: darken($white, 3%);
            border-color: darken($lightblue, 10%);
            color: darken($lightblue, 10%);
        }
    }
}

/* Index Page */
.index{
    .content_heading{
        position: relative;

        padding-top: 150px;
        padding-bottom:50px;
        margin-bottom: 20px;

        background: $blue url("../images/index-image.jpg") no-repeat center / cover;
        .heading{
            color: $darkgrey;
            &_xl {
                font-size: 18px;
                line-height: 26px;
            }
            &__line{
                display: inline-block;
                background: $white;
                padding: 0 10px;
            }
            .line + .line{
                margin-top: 5px;
            }
        }
        &:after{
            content:'';
            display: block;
            height: 20px;
            width: 100%;
            background: #f1f2f4;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }
}


@import "media.scss";
